.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 400px;
  width: 200px;
  margin: 0px;
  /* justify-content: space-around; */
}

.cardWrapper {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.image_wrapper {
  overflow: hidden;
  
}
.image_wrapper img {
  height: 100%;
  width: 100%;
}

.buttons {
  position: relative; 
  top:77.5%;
  transform: translate(0,-100%);
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* width: 200px; */
  justify-content: space-around; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* Take up the full height of the card */
  opacity: 0; /* Initially hide the play button */
  transition: opacity 1s ease-in-out; /* Add a transition effect*/
  background-color: rgb(69, 69, 69);
}
.card:hover .buttons {
  opacity: 1; /* Show the play button on hover */
}

.icons {
  height: 20px;
  width: 20px;
}

#play {
  height: 35px;
  width: 35px;
}
.fixedHeight {
  background-color: rgb(225,225,226);
  overflow: scroll;
  height: 70px;
  width: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.fixedHeight::-webkit-scrollbar{
  display: none;
}

.voteAverage{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  align-items: center;
}

.release{
  background-color: rgb(32,33,36);
  color:white;
  height: 2em;
  width: 2em;
  border-radius:50%;
}
.fixedHeight h4{
  margin: 0;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
}

.fixedHeight p{
  font-size: 12px;
  text-align: center;
}

/* front face of the card */
.front {
  position: absolute;
  height: 275px;
  width: 200px;
  backface-visibility: hidden;
  
}
/* back face of the card */
.back {
  position: absolute;
  backface-visibility: hidden;
  height: 275px;
  width: 200px;
  background-color: #6294d2;
  transform: rotateY(180deg);
  overflow: scroll;

}
.back::-webkit-scrollbar{
  display: none;
}
.back p{
  font-family: 'Poppins', sans-serif;
}
/* this style will apply dynamically to the card whose flip icon is clickes */
.flipCard {
  transform: rotateY(180deg);
}
