.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 200px;
  width: 100px;
  
  /* margin: 0px; */
  /* justify-content: space-around; */
}

.cardWrapper {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.image_wrapper {
  overflow: hidden;

}
.image_wrapper img {
  height: 100%;
  width: 100%;
}

.fixedHeight {
  background-color: rgb(225,225,226);
  overflow: scroll;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* width: 100px; */
}

.voteAverage{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  align-items: center;
}

.release{
  background-color: rgb(32,33,36);
  color:white;
  height: 1em;
  width: 1em;
  border-radius:50%;
}
.fixedHeight h6{
  margin: 0;
  margin-top: 3px;
  text-align: center;
  white-space: nowrap;
}

.fixedHeight p{
  font-size: 6px;
  text-align: center;
}

/* .fixedHeight:hover {
  overflow: visible;
} */
.fixedHeight::-webkit-scrollbar{
  display: none;
}
.buttons {
  position: relative;
  top: 76.5%;
  transform: translate(0, -100%);
  display: flex;
  justify-content: space-around; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgb(69, 69, 69);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.icons {
  height: 10px;
  width: 10px;
}

#play {
  height: 17px;
  width: 17px;
}

/* front face of the card */
.front {
  position: absolute;
  height: 137px;
  width: 100px;
  backface-visibility: hidden;
 
}
/* back face of the card */
.back {
  position: absolute;
  backface-visibility: hidden;
  height: 137px;
  width: 100px;

  background-color: #6294d2;
  transform: rotateY(180deg);
  overflow: scroll;
}
.back::-webkit-scrollbar{
  display: none;
}
.back p{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.flipCard {
  transform: rotateY(180deg);
}
