.favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 90px; */
}

.gif{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}