.movieDetails{
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
}

.movieDetails::-webkit-scrollbar{
    display: none;
}