.trailer{
  height: fit-content;
  width:  90%;

  /* margin: auto; */
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  /* overflow: scroll; */
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.heading{
  flex-grow: 2;
}

.header h3{
  margin: 0;
  text-align: center;
}
.close{
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 4px;
}

.close img{
  height: 100%;
  width: 100%;
}

.video{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* justify-content: center; */
}
.video::-webkit-scrollbar{
  display: none;
}

.mobileTotalResults{
  position: fixed;
  top: 65px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 100000;
  color: aliceblue;
  background-color: rgb(32,33,36);
}
.mobileTotalResults h4,p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.desktopTotalResults{
  position: fixed;
  top: 100px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 100000;
  color: aliceblue;
  background-color: rgb(32,33,36);
}

.desktopTotalResults h3,p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


#loadmore{
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#loadmore img{
height: 20px;
width: 20px;
}